<?xml version="1.0"?>
<model>
  <name>strivermini</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Petr Stibinger</name>
   <email>stibinger@fly4future.com</email>
  </author>

  <description>
    This is a model of the Striver Mini VTOL
  </description>
</model>
